/* html, body {
  margin: 0;
  padding: 0;
  height: 100%;
} */

/* .App {
} */

nav.navbar {
    /* display: flex; */
  background: rgb(21, 42, 85);
}

div.container {
	padding-right: 0;
	padding-left: 0;
}

nav.footer{ 
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgb(21, 42, 85);

}
button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  margin: 15px 10px;
  border-radius: 3px;
}

#home-btn {
  color: white;
  text-decoration: none;
}

input[type=text] {
  border: 2px solid red;
  border-radius: 4px;
  width: 100%;
}

/* Pages
-------------------------------------------------- */

/* Login */

/* BottomBar */
#h3bottomnav {
  color: white;
  width: 100%
}
.footer{
  position: fixed;
  bottom:10px;
}


/* FEED ARTICLE */

#player {
  width: 60vw;
  padding-top: 40px;
  display: flex;
	flex-direction: column;

}

